@import "../startup/style.css";
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
a:hover {
  cursor: pointer;
}

body {
  background: #101010;
  color: #f1f1f1;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

@keyframes pulseshadow {
  0% {
    box-shadow: rgba(106, 106, 182, 0.25) 0px 13px 27px -5px, rgba(52, 50, 112, 0.59) 0px 8px 16px -8px;
  }
  50% {
    box-shadow: rgba(125, 125, 206, 0.25) 0px 50px 100px -20px, rgba(132, 164, 193, 0.3) 0px 30px 60px -30px, rgba(50, 86, 122, 0.35) 0px -2px 6px 0px inset;
  }
  100% {
    box-shadow: rgba(106, 106, 182, 0.25) 0px 13px 27px -5px, rgba(52, 50, 112, 0.59) 0px 8px 16px -8px;
  }
}
.grid-up {
  position: relative;
  display: grid;
  grid-template-columns: 47% 50%;
  align-items: center;
  gap: 3%;
  top: 7%;
  margin: 0% 4% 0% 4%;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .grid-up {
    grid-template-columns: 70%;
    justify-content: center;
    padding: 5%;
  }
}
.grid-up .info {
  z-index: 5;
  position: relative;
  width: 100%;
}
.grid-up .info h3 {
  font-family: "Heavy";
  font-size: clamp(20px, 1vw, 32px);
  font-weight: 400;
  letter-spacing: 1px;
}
.grid-up .info p {
  font-weight: 200;
  font-size: clamp(18px, 1vw, 28px);
  font-family: "Lora", serif;
}
.grid-up img {
  animation: pulseshadow infinite 2s;
  position: relative;
  width: 100%;
  height: auto;
  -webkit-animation: pulseshadow infinite 2s;
}

.netinfo {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  top: 0%;
  padding-bottom: 5%;
  margin: 15% 4% 0% 4%;
}
.netinfo h3 {
  font-family: "Mynerve", cursive;
  font-size: clamp(20px, 1vw, 32px);
  font-weight: 600;
}
.netinfo p {
  font-weight: 200;
  font-family: "Playfair Display", serif;
}
.netinfo .full-size {
  grid-area: 2/1/3/3;
}
.netinfo .full-size h2 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(26px, 1vw, 36px);
  font-weight: 600;
}
.netinfo .full-size p {
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-family: "Lora", serif;
}

@keyframes shadoweff {
  0% {
    box-shadow: rgba(109, 119, 206, 0.397) 0px 4px 12px;
  }
  50% {
    box-shadow: rgba(89, 89, 152, 0.514) 0px 1px 0pxrgba 115, 115, 182, 0.1 10px 8px 24px, rgba(100, 100, 174, 0.618) 0px 16px 48px;
  }
  100% {
    box-shadow: rgba(109, 119, 206, 0.397) 0px 4px 12px;
  }
}
.cards {
  display: grid;
  grid-template-columns: 80%;
  gap: 2%;
  height: auto;
  position: relative;
  justify-content: center;
  padding-bottom: 5%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cards {
    grid-template-columns: 90%;
  }
}
.cards h1 {
  letter-spacing: 1px;
  position: relative;
  width: 100%;
  font-weight: 800;
  font-size: clamp(36px, 1vw, 48px);
  font-family: "Heavy";
  text-align: center;
}
.cards .id {
  animation: shadoweff infinite 2s;
  background: #141313;
  grid-template-columns: 70% 25%;
  display: grid;
  height: auto;
  gap: 5%;
  border-radius: 30px 50px 50px 10px;
  -webkit-border-radius: 30px 50px 50px 10px;
  -moz-border-radius: 30px 50px 50px 10px;
  -ms-border-radius: 30px 50px 50px 10px;
  -o-border-radius: 30px 50px 50px 10px;
  padding: 3%;
  -webkit-animation: shadoweff infinite 2s;
}
@media (min-width: 320px) and (max-width: 768px) {
  .cards .id {
    grid-template-columns: 100%;
  }
}
.cards .id .content h3 {
  position: relative;
  width: 100%;
  font-weight: 800;
  font-family: "Mynerve", cursive;
}
.cards .id .content p {
  position: relative;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-family: "Montserrat", sans-serif;
}
.cards .id img {
  animation: pulseshadow infinite 2s;
  border-radius: 10px 50px 50px 30px;
  -webkit-border-radius: 10px 50px 50px 30px;
  -moz-border-radius: 10px 50px 50px 30px;
  -ms-border-radius: 10px 50px 50px 30px;
  -o-border-radius: 10px 50px 50px 30px;
  position: relative;
  float: right;
  height: 100%;
  width: 100%;
  right: 0%;
  -webkit-animation: pulseshadow infinite 2s;
}
@media (min-width: 320px) and (max-width: 768px) {
  .cards .id img {
    display: none;
  }
}

.stalin {
  padding: 15% 0% 5% 5%;
  margin: 0% 4%;
}
.stalin h4 {
  position: relative;
  width: 100%;
  font-weight: 800;
  font-size: clamp(24px, 1vw, 28px);
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.stalin p {
  padding: 2%;
  position: relative;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.stalin .flex-imgs {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  gap: 3.3%;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .stalin .flex-imgs {
    grid-template-columns: 80%;
    padding: 5%;
  }
}
.stalin .flex-imgs img {
  width: 100%;
  height: 90%;
  background-size: contain;
  position: relative;
}

.materiale h2 {
  padding: 3%;
  position: relative;
  width: 100%;
  font-weight: 800;
  font-size: clamp(28px, 1vw, 36px);
  font-family: "Mynerve", cursive;
  text-align: center;
}
.materiale .mid {
  left: 0%;
  display: grid;
  justify-content: center;
  grid-template-columns: 40% 40%;
  gap: 5%;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .materiale .mid {
    grid-template-columns: 80%;
  }
}
.materiale .mid iframe {
  padding: 3%;
  justify-content: center;
  width: 100%;
  height: 25vw;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .materiale .mid iframe {
    height: 45vw;
  }
}

.audio {
  padding-top: 5%;
  left: 0%;
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 70%;
}
.audio h3 {
  position: relative;
  font-weight: 800;
  font-size: clamp(28px, 1vw, 36px);
  text-align: center;
  font-family: "Mynerve", cursive;
}
.audio h4 {
  padding: 1%;
  position: relative;
  font-weight: 800;
  font-size: clamp(24px, 1vw, 28px);
  font-family: "Raleway", sans-serif;
}
.audio p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(16px, 1vw, 28px);
}
.audio audio {
  display: flex;
  justify-content: center;
  padding: 1%;
}
.audio audio:last-child {
  padding-bottom: 15%;
}

#img {
  width: 50%;
  height: auto;
  padding: 3%;
  justify-content: center;
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.pdf {
  display: flex;
  flex-direction: column;
  margin: 0% 5%;
  padding: 5% NaN%;
}
.pdf h2 {
  padding: 1%;
  position: relative;
  font-weight: 800;
  font-size: clamp(28px, 1vw, 32px);
  font-family: "Raleway", sans-serif;
}
.pdf a {
  transition: 1s ease;
  text-decoration: none;
  color: #f1f1f1;
  position: relative;
  font-weight: 800;
  font-size: clamp(24px, 1vw, 28px);
  font-family: "Mynerve", cursive;
  padding: 0.5%;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}
.pdf a:hover {
  color: #615b5b;
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}/*# sourceMappingURL=style.css.map */